<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap.min.css' integrity='sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg==' crossorigin='anonymous'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="style.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js' integrity='sha512-pSyYzOKCLD2xoGM1GwkeHbdXgMRVsSqQaaUoHskx/HF09POwvow2VfVEdARIYwdeFLbu+2FCOTRYuiyeGxXkEg==' crossorigin='anonymous'></script>
</head>
<body>
    <div class="top-bg"></div>
    <div id="app">
        <main class="container">
            <!-- Contacts Section -->
            <div class="section contacts">
                <header class="border-end">
                    <div class="contact-head d-flex align-items-center">
                        <img src="img/avatar_io.jpg" alt="Sofia">
                        <div class="contact-info ps-2">
                            <h5>Sofia</h5>
                        </div>
                    </div>
                    <div class="icons d-flex">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <div class="notifications d-flex p-2">
                    <div class="notifications-icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="pt-1">
                        <h6>Ricevi notifiche di nuovi messaggi</h6>
                        <p class="text-decoration-underline">Attiva notifiche desktop</p>
                    </div>
                </div>
                <div class="search-bar-container p-1">
                    <div class="search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchInput">
                    </div>
                </div>
                <div class="contacts-container">
                    <div class="contact border-top" v-for="(contact, i) in contacts" @click="visible(i)" :class="{active : contact.visible, 'd-none': !contact.name.toLowerCase().includes(searchInput.toLowerCase())}">
                        <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                        <div class="contact-info ps-2">
                            <h5>{{ contact.name }}</h5>
                            <p>{{ contact.messages.at(-1).message }}</p>
                        </div>
                        <p class="hour align-self-start">{{ contact.messages.at(-1).date.split(" ")[1].split(":")[0] + ":" + contact.messages.at(-1).date.split(" ")[1].split(":")[1] }}</p>
                    </div>
                </div>
            </div>
            
            <!-- Chat Section -->
            <div class="section messages" v-for="(contact, i) in contacts" :class="{'d-flex': contact.visible, 'd-none': !contact.visible}">
                <header>
                    <div class="contact-head d-flex align-items-center">
                        <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="Michele">
                        <div class="contact-info ps-2">
                            <h5>{{ contact.name }}</h5>
                            <p>{{ 'Ultimo accesso oggi alle ' + contact.messages.at(-1).date.split(" ")[1].split(":")[0] + ":" + contact.messages.at(-1).date.split(" ")[1].split(":")[1]}}</p>
                        </div>
                    </div>
                    <div class="icons d-flex">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <div class="body py-3 px-sm-5">
                    <div class="message-text-container" v-for="(message, j) in contact.messages" :class="{'sent': contact.messages[j].status === 'sent'}">
                        <div class="message-text">
                            <p>{{ contact.messages[j].message }}</p><div class="delete-icon-container"><i class="fa-solid fa-angle-down delete-icon" @click="showDelMenu(i, j)" ></i><p class="p-2 delete-menu" v-show="contacts[i].messages[j].delMenu" @click="deleteMessage(i, j)">Delete message</p></div>
                            <p class="hour">{{ contact.messages[j].date.split(" ")[1].split(":")[0] + ":" + contact.messages[j].date.split(" ")[1].split(":")[1]}}</p>
                        </div>
                    </div>
                </div>
                <div class="message-input">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage(contact), pushReceivedMessage()">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </main>
    </div>
    <script src="main.js"></script>
</body>
</html>